// Place all the styles related to the Public controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.column {
  margin-left: 10px;
  float: left;
  width: 30.33%;
}

/* Clear floats after the columns */
